/* main colors */
$pastel-01: #69779b;
$pastel-02: #acdbdf;
$pastel-03: #f0ece2;
$pastel-04: #010101;

$dark: #343a40;
$light: rgba(255, 255, 255, 0.5);
$blue: #189ad3;

$white: rgb(252, 248, 248);
$black: rgb(12, 11, 11);
$dark-gray: rgb(32, 30, 30);
$gray: gray;
